<p id="notice"><%= notice %></p>

<%= render 'navbar' %>

<h1>Assignments</h1>

<%= render 'assignments/list', assignments: @course.assignments %>

<br>

<%= link_to 'New Assignment', new_assignment_path %>
